extends _pug-includes/layout.pug

block vars
    - var widgets = true;
    - var current = 'widgets-stats.html';   
    - var breadcrumbs = []
    - breadcrumbs.push({name: 'Home', link: 'index.html'})
    - breadcrumbs.push({name: 'Stats Widgets'}) 

block content
    +breadcrumbs(breadcrumbs)
    +pageHeader('Stats Widgets') 
            
    section

        - widget1 = []
        - widget1.push({value: '$10,500', title: 'Earnings', info: '20% increase', infoNumber: '+20.3%',  icon1: 'speed-1', icon2: '', bgClass: 'red', textClass: 'text-red', increase: true, progress: 85})
        - widget1.push({value: '584', title: 'Readers', info: '3% increase', infoNumber: '+3.3%',  icon1: 'news-1', icon2: '', bgClass: 'blue', textClass: 'text-blue', increase: true, progress: 75})
        - widget1.push({value: '876', title: 'Bookmarks', info: '10% increase', infoNumber: '+10.5%',  icon1: 'bookmark-1', icon2: '', bgClass: 'primary', textClass: 'text-primary', increase: true, progress: 67})
        - widget1.push({value: '3,500', title: 'Visitors', info: '5% decrease', infoNumber: '-5.8%',  icon1: 'world-map-1', icon2: '', bgClass: 'green', textClass: 'text-green', increase: false, progress: 93})

        - widget2 = []
        - widget2.push({value: '$19,200', title: 'All Earnings', info: '20% change', icon1: 'pay-1', icon2: '', bgClass: 'bg-primary', textClass: 'text-primary', progress: 78})
        - widget2.push({value: '$12,500', title: 'Offers', info: '5% change', icon1: 'label-tag-1', icon2: '', bgClass: 'bg-green', textClass: 'text-green', progress: 83})
        - widget2.push({value: '$10,800', title: 'Bestsellers', info: '20% change', icon1: 'star-medal-1', icon2: '', bgClass: 'bg-indigo', textClass: 'text-indigo', progress: 45})

        - widget3 = []
        - widget3.push({value: '526', title: 'subscribers', info: '20% change', icon1: 'woman-1', icon2: '',  iconClass: 'text-white', bgClass: 'bg-danger-light', textClass: 'text-danger', buttonClass: 'btn-danger', buttonText: 'Manage List'})
        - widget3.push({value: '3,258', title: 'readers', info: '35% change', icon1: 'reading-1', icon2: '',  iconClass: 'text-white', bgClass: 'bg-info-light', textClass: 'text-info', buttonClass: 'btn-info', buttonText: 'See details'})
        - widget3.push({value: '1,256', title: 'photos', info: '18% change', icon1: 'retro-camera-1', icon2: '', iconClass: 'text-dark',  bgClass: 'bg-primary-light', textClass: 'text-primary', buttonClass: 'btn-primary', buttonText: 'Upload new'})        

        - widget4 = []
        - widget4.push({value: '$950', planned: '$1253', title: 'Your spendings', info: '20% change', icon1: 'chart-1', icon2: '', bgClass: 'primary', textClass: 'text-primary', progress: 78})
        - widget4.push({value: '323',  planned: '356', title: 'Transactions', info: '20% change', icon1: 'food-1', icon2: '', bgClass: 'warning', textClass: 'text-green', progress: 83})
        - widget4.push({value: '$158', planned: '$300', title: 'VAT', info: '20% change', icon1: 'quality-1', icon2: '', bgClass: 'danger', textClass: 'text-indigo', progress: 45})

        - widget5 = widget1

        - projects = []
        - projects.push({title: 'Publish New Theme', category: 'Web Design', info: '10 mins ago', avatars: 2, progress: 70, data1: '23', data1Label: 'Updates', data2: '2', data2Label: 'Milestones', bg: 'primary'})
        - projects.push({title: 'Internal Linkbuilding', category: 'Marketing', info: '2 hours ago', avatars: 4, progress: 48, data1: '23', data1Label: 'Updates', data2: '2', data2Label: 'Milestones', bg: 'info'})
        


        .row.mb-5
            each val in widget1
                .col-sm-6.col-lg-3.mb-4
                    .card.h-100
                        .card-body
                            .d-flex.align-items-center.justify-content-between
                                div
                                    h4.fw-normal(class=val.textClass) #{val.value}
                                    p.subtitle.text-sm.text-muted.mb-0 #{val.title}
                                .flex-shrink-0.ms-3
                                    +svgIcon(val.icon1, val.textClass)
                        .card-footer.py-3(class=`bg-${val.bgClass}-light`)
                            .row.align-items-center(class=val.textClass)
                                .col-10
                                    p.mb-0 #{val.info}
                                .col-2.text-end
                                    if val.increase
                                        i.fas.fa-caret-up
                                    else 
                                        i.fas.fa-caret-down

        .row.mb-5
            each val in widget2
                .col-6.col-md-4.mb-4
                    .card.h-100
                        .card-body.p-3.p-sm-4.d-flex.align-items-center.justify-content-between
                            div
                                .subtitle.mb-2.text-muted #{val.title}
                                h4.fw-normal.h2(class=val.textClass) #{val.value}
                                p.mb-0
                                    | $2,123 
                                    i.fas.fa-arrow-up.ms-2(class=val.textClass)
                            .d-none.d-md-flex.icon.icon-xl.ms-2(class=`${val.bgClass}-light`)
                                +svgIcon(val.icon1, val.textClass)

        .row.mb-5
            each val in widget1 
                .col-6.col-md-3.mb-4
                    .card.text-center.h-100
                        .card-body
                            h6.mb-3 #{val.title}
                            h4.mb-3
                                if val.increase
                                    i.fas.fa-arrow-up.text-success.me-2
                                else 
                                    i.fas.fa-arrow-down.text-danger.me-2 
                                | #{val.value}
                            p.card-text #{val.info}

        .row.mb-5
            each val in widget3 
                .col-md-4.mb-4
                    .card.h-100
                        .card-body.text-center
                            .icon.icon-xl.mx-auto.mb-4(class=val.bgClass)
                                +svgIcon(val.icon1, val.textClass)
                            h4.mt-3
                                span(class=val.textClass) #{val.value}
                                span.fw-normal  #{val.title}
                            p.mb-4 #{val.info}
                            button.btn(class=val.buttonClass) #{val.buttonText}

        .row.mb-5
            each val, index in projects 
                .col-md-6
                    .card.mb-4
                        .card-body
                            button.btn.float-end(class=`btn-${val.bg}`) Completed
                            h4.h6 #{val.title}
                            p(class=`text-${val.bg}`) #{val.category}
                            p.text-muted #{dummyText[index].substr(0,150)}
                            .mb-3
                                .d-inline-block.me-3
                                    .h3.mb-1 #{val.data1}
                                    .text-muted.text-sm #{val.data1Label}
                                .d-inline-block
                                    .h3.mb-1 #{val.data2}
                                    .text-muted.text-sm #{val.data2Label}

                            .mb-4
                                each _, i in Array(val.avatars)
                                    img.avatar.avatar-sm.avatar-stacked.p-1(src=`${path}img/avatar-${i + index}.jpg`, alt=``,  data-bs-toggle='tooltip' data-placement='top' title=`User ${i}`)
                            
                            p.sr-only Progress
                            .progress
                                .progress-bar(style=`width:${val.progress}%`, class=`bg-${val.bg}` )

        .row.mb-5
            .col-md-6.mb-4
                .card.h-100
                    .card-body
                        .row.gx-2.gx-lg-4.gy-5
                            .col-sm-5
                                .h2 625
                                p.subtitle New Customers
                                .progress
                                    .progress-bar.bg-success(role="progressbar",  aria-valuenow="60", aria-valuemin="0",aria-valuemax="100", style=`width:60%`,)
                            .col-sm-7
                                .row
                                    .col-6.text-center
                                        .h3 254
                                        p.text-muted.fw-normal Affiliates
                                        hr
                                        p.text-muted.mb-0 +125
                                    .col-6.text-center
                                        .h3 328
                                        p.text-muted SEM
                                        hr
                                        p.text-muted.mb-0 +144
            .col-md-6.mb-4
                .card.h-100
                    .card-body.d-flex.align-items-center
                        .row.gy-5.flex-fill 
                            .col-sm-6
                                .row
                                    .col-sm-2.text-lg
                                        i.fas.fa-arrow-down.text-danger
                                    .col-sm-10
                                        h2 1,112
                                        h6.text-muted.fw-normal.p-b-20.p-t-10 Affiliate Sales
                                        .progress
                                            .progress-bar.bg-danger(role="progressbar",  aria-valuenow="75", aria-valuemin="0",aria-valuemax="100", style=`width:75%`,)
                            .col-sm-6
                                .row
                                    .col-sm-2.text-lg
                                        i.fas.fa-arrow-up.text-success
                                    .col-sm-10
                                        h2 258
                                        h6.text-muted.fw-normal.p-b-20.p-t-10 Ads Sales
                                        .progress
                                            .progress-bar.bg-success(role="progressbar",  aria-valuenow="50", aria-valuemin="0",aria-valuemax="100", style=`width:50%`,)
        .row.mb-5
            .col-md-6.col-lg-3.mb-4
                .card.h-100
                    .card-header.py-4
                        h6.card-heading Lines of code
                    .card-body
                        .display-4.text-center.mb-4 828
                        .row
                            .col-sm-6.text-center.h-100
                                p.text-muted.text-sm Tabs
                                .h4.mb-0.text-green 456
                            .col-sm-6.text-center.h-100.align-items-end
                                p.text-muted.text-sm Spaces
                                .h4.mb-0.text-indigo 125
            .col-md-6.col-lg-3.mb-4
                .card.h-100
                    .card-header.py-4
                        h6.card-heading Customers                
                    .card-body.pt-3
                        .icon.icon-xl.bg-primary-light.mx-auto.mb-3
                            +svgIcon('chart-1', 'text-primary')
                        .row.position-relative(style='top: 10px;')
                            .col-6.text-center
                                p.text-muted.text-sm Happy
                                .h4.mb-0.text-pink 456
                            .col-6.text-center
                                p.text-muted.text-sm Ecstatic
                                .h4.mb-0.text-cyan 125
            .col-lg-6.mb-4
                .card.h-100
                    .card-header.py-4
                        h6.card-heading Plan
                    .card-body.pt-3
                        .h2.mb-3 
                            | 78.2% 
                           

                        - const plan = []
                        - plan.push({title: 'Sales', value: 78, class: 'primary' })
                        - plan.push({title: 'Ads', value: 48, class: 'success' })
                        - plan.push({title: 'Campaigns', value: 88, class: 'pink' })
                        - plan.push({title: 'Subscribers', value: 98, class: 'indigo' })

                        each val, index in plan
                            .row.align-items-center(class=`${index + 1 != plan.length ? 'mb-3' : ''}`)
                                .col-sm-3.text-muted.text-sm #{val.title}
                                .col-sm-7
                                    .progress
                                        .progress-bar(role="progressbar",  aria-valuenow=val.value, aria-valuemin="0",aria-valuemax="100", style=`width:${val.value}%`, class=`bg-${val.class}`)
                                .col-sm-2.text-muted.text-sm #{val.value}%
                                
        .row.mb-5
            each val in widget4 
                .col-md-4.mb-4
                    .card.h-100
                        .card-header
                            h6.card-heading #{val.title}
                        .card-body
                            h2.mb-3 #{val.value}
                            .row
                                .col-auto
                                    p.text-muted.text-sm.mt-2 Planned for next month
                                .col.text-end.text-lg #{val.planned}
                            .progress
                                .progress-bar(role="progressbar",  aria-valuenow=val.progress, aria-valuemin="0",aria-valuemax="100", style=`width:${val.progress}%`, class=`bg-${val.bgClass}`)                            
                        .card-footer.text-end
                            button.btn(class=`btn-${val.bgClass}`) Take action                        


        .row.mb-5
            each val in widget1
                .col-md-6.col-xl-3.mb-4
                    .card.h-100
                        .card-body.d-flex.flex-column.justify-content-between
                            .row.gx-1
                                .col
                                    +svgIcon(val.icon1, `${val.textClass} mb-3`)
                                    p.subtitle.text-gray-600 #{val.title}
                                .col.text-end
                                    h4(class=val.textClass) #{val.value}
                        
                            .progress
                                .progress-bar(role="progressbar",  aria-valuenow=val.progress, aria-valuemin="0",aria-valuemax="100", style=`width:${val.progress}%`, class=`bg-${val.bgClass}`)
        .row.mb-5
            each val in widget1
                .col-md-6.col-lg-3
                    .card.mb-4(class=`bg-${val.bgClass}-light`)
                        .card-body.d-flex.align-items-center.justify-content-between
                            div
                                h6 #{val.title}
                                h3.mb-0(class=val.textClass) #{val.value}
                            +svgIcon(val.icon1, val.textClass + ' ')



        .row.mb-5
            each val in widget1
                .col-md-6.col-lg-3
                    .card.mb-4
                        .card-body
                            .icon.icon-lg.float-end(class=`bg-${val.bgClass}-light`, style='position: relative; top: -.8rem; right: -.8rem;')
                                        +svgIcon(val.icon1, val.textClass + ' svg-icon-md svg-icon-heavy')

                            h6 #{val.title}
                            h3(class=val.textClass) #{val.value}
                            p.text-muted.text-sm.mb-0 May 23 - June 01 (2018)
                            
                                    

        .pb-5
            .card.mb-4
                .card-body
                    .row.g-5
                        each val, index in widget1
                            .col-xl-3.col-md-6
                                h6.subtitle.fw-normal.text-muted #{val.title}
                                h5.m-b-25
                                    | #{val.value}
                                    span.ms-3.float-end(class=val.textClass) #{val.infoNumber}
                                .progress
                                    .progress-bar(role="progressbar",  aria-valuenow=val.progress, aria-valuemin="0",aria-valuemax="100", style=`width:${val.progress}%`, class=`bg-${val.bgClass}`)