// JavaScript files

script(src=`${path}vendor/bootstrap/js/bootstrap.bundle.min.js`)
script(src='https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js')
    
if (home)
    // Init Charts on Homepage
    script(src='vendor/chart.js/Chart.min.js')
    script(src='js/charts-defaults.js')
    script(src='js/charts-home.js')

if demo
    // For Demo Purposes
    script(src='https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js')


if (current == 'forms-advanced.html')
    // Choices.js
    script(src='vendor/choices.js/public/assets/scripts/choices.min.js')
    // iMask
    script(src='vendor/imask/imask.min.js')
    // NoUI Slider
    script(src='vendor/nouislider/nouislider.min.js')
    // VanillaJs DatePicker
    script(src='vendor/vanillajs-datepicker/js/datepicker-full.min.js')
    // Forms init
    script(src="js/forms-advanced.js")

if (current == 'forms-dropzone.html')
    // Dropzone.js
    script(src='vendor/dropzone/dropzone.js')
    // Dropzone Init
    script(src="js/forms-dropzone.js")     

if (current == 'forms-texteditor.html')
    // Quill
    script(src='vendor/quill/quill.min.js')
    // Quill init
    script(src="js/forms-texteditor.js")

if (current == 'cms-post-new.html')
    // Choices.js
    script(src='vendor/choices.js/public/assets/scripts/choices.min.js')
    // VanillaJs DatePicker
    script(src='vendor/vanillajs-datepicker/js/datepicker-full.min.js')
    // Quill
    script(src='vendor/quill/quill.min.js')
    // Add New Post JS
    script(src="js/cms-post-new.js")

if (current == 'cms-category.html')
    // Data Tables
    script(src='https://cdn.jsdelivr.net/npm/simple-datatables@latest')
    // CMS Category JS
    script(src="js/cms-category.js")

if (current == 'cms-post.html')
    // Data Tables
    script(src='https://cdn.jsdelivr.net/npm/simple-datatables@latest')
    // CMS Category JS
    script(src="js/cms-post.js")

if (current == 'cms-media.html')
    // Lightbox gallery
    script(src='vendor/glightbox/js/glightbox.min.js') 
    // Dropzone.js
    script(src='vendor/dropzone/dropzone.js')
    // CMS Media JS
    script(src="js/cms-media.js")

if (current == 'e-commerce-products.html')
    // Data Tables
    script(src='https://cdn.jsdelivr.net/npm/simple-datatables@latest')
    // CMS Category JS
    script(src="js/e-commerce-products.js")     

if (current == 'e-commerce-product-new.html')
    // Choices.js
    script(src='vendor/choices.js/public/assets/scripts/choices.min.js')
    // VanillaJs DatePicker
    script(src='vendor/vanillajs-datepicker/js/datepicker-full.min.js')
    // Quill
    script(src='vendor/quill/quill.min.js')
    // Lightbox gallery
    script(src='vendor/glightbox/js/glightbox.min.js')     
    // Dropzone.js
    script(src='vendor/dropzone/dropzone.js')    
    // Add New Product JS
    script(src="js/e-commerce-product-new.js")    

if (current == 'e-commerce-orders.html')
    // Data Tables
    script(src='https://cdn.jsdelivr.net/npm/simple-datatables@latest')
    // CMS Category JS
    script(src="js/e-commerce-orders.js")     

if (current == 'e-commerce-customers.html')
    // Data Tables
    script(src='https://cdn.jsdelivr.net/npm/simple-datatables@latest')
    // CMS Category JS
    script(src="js/e-commerce-customers.js")     


if (current == 'forms-validation.html')
    script(src="js/forms-validation.js")


if (current == 'tables-datatable.html')
    // Data Tables
    script(src='https://cdn.jsdelivr.net/npm/simple-datatables@latest')
    script(src="js/tables-datatable.js")

if (current == 'charts.html')
    // Init Charts on Charts page
    script(src='vendor/chart.js/Chart.min.js')
    script(src='js/charts-defaults.js')
    script(src='js/charts-custom.js')

if (current == 'charts-gauge-sparkline.html')
    // Gauge.js
    script(src='vendor/gaugeJS/gauge.min.js')

    // Sparkline
    script(src="vendor/@fnando/sparkline/sparkline.js")
    
    // Init Gauge
    script(src="js/charts-gauge.js")
    
    // Init Sparkline
    script(src="js/charts-sparkline.js")

if (current == 'components-calendar.html')
    // Full Calendar
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.26.0/moment.min.js')    
    script(src='vendor/fullcalendar/main.min.js')    
    script(src="js/components-calendar.js")

if (current == 'components-notifications.html')
    // Notifications Init
    script(src="js/components-notifications.js") 


if (current == 'components-loading-buttons.html')
    // Loading buttons
    script(src='vendor/ladda/spin.min.js')    
    script(src='vendor/ladda/ladda.min.js')      

    script(src="js/components-ladda.js")

if (current == 'components-preloader.html')
    // Preloader
    script(src="js/components-preloader.js") 

if (current == 'components-gallery.html')
    // Lightbox gallery
    script(src='vendor/glightbox/js/glightbox.min.js') 
    script(src="js/components-gallery.js") 

// Main Theme JS File
script(src=`${path}js/theme.js`)

if (locals.styleSwitcher)
    script(src='vendor/jquery.cookie/jquery.cookie.js') 
    script(src='js/demo.js') 

// Prism for syntax highlighting
script(src=`${path}vendor/prismjs/prism.js`)
script(src=`${path}vendor/prismjs/plugins/normalize-whitespace/prism-normalize-whitespace.min.js`)
script(src=`${path}vendor/prismjs/plugins/toolbar/prism-toolbar.min.js`)
script(src=`${path}vendor/prismjs/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js`)
script(type='text/javascript').
    // Optional
    Prism.plugins.NormalizeWhitespace.setDefaults({
    'remove-trailing': true,
    'remove-indent': true,
    'left-trim': true,
    'right-trim': true,
    });
        
if (current == 'components-map.html')
    include scripts-map.pug

// FontAwesome CSS - loading as last, so it doesn't block rendering
link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.7.1/css/all.css', integrity='sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr', crossorigin='anonymous')
